form{
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

div{
    margin: 5px
}

input, select{
    border: 1px solid rgb(174, 174, 174);
    width: 90%;
    height: 25px;
    border-radius: 5px;
    margin-top: 5px;
}

input:invalid + span::after{
    content: '✖';
    color: red;
}

input:valid + span::after{
    content: '✓';
    color: limegreen;
}

.formCadastro{
    width: 100%;
}

@media(max-width:600px){
    main{
        display: inline;
        margin: 10px;
    }
}